<p><%= @medium.description1 %></p>
<%= link_to TwoMoviesAndText.human_attribute_name(:movie1), @medium.movie1.remote_url %>
<p><%= @medium.description2 %></p>
<%= link_to TwoMoviesAndText.human_attribute_name(:movie2), @medium.movie2.remote_url %>
