nav {
  background-color: $blue;

  a {
    color: $base-background-color;
    display: inline-block;
    min-width: 6em;
    padding: 0.4em 0.5em;

    &:first-of-type {
      padding-left: 0;
    }

    &:hover {
      color: $light-gray;
    }
  }
}
